# =======================
# PYTHON ENVIRONMENTS
# =======================
venv/
.venv/
env/
ENV/

# =======================
# RASA ARTIFACTS
# =======================
models/
*.tar.gz

# =======================
# DATABASES
# =======================

# =======================
# PYTHON CACHE
# =======================
__pycache__/
*.pyc
*.log

# =======================
# FRONTEND
# =======================
node_modules/
*.map

# =======================
# VIDEOS / RECORDINGS
# =======================
*.mp4
*.mov
*.avi
*.mkv
*.webm

# =======================
# MACOS JUNK
# =======================
.DS_Store


